<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.kennethyo.alfred.workflow.dictionary</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>KennethYo</string>
	<key>description</key>
	<string>使用汉语字典查询。</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>汉语字典</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>zd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在获取中...</string>
				<key>script</key>
				<string>/usr/bin/python3 dictionary.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>使用汉语字典查询你想知道的汉字</string>
				<key>title</key>
				<string>汉语字典</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>161F2D13-F726-4357-AB7E-16BA98EE9486</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>161F2D13-F726-4357-AB7E-16BA98EE9486</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>APP_ID</key>
		<string>pg0gqcjqmbkrupnp</string>
		<key>APP_SECRET</key>
		<string>MnUxMkdvM0hyL0hMaWxURkgzdGMwdz09</string>
	</dict>
	<key>version</key>
	<string>1.0-alpha01</string>
	<key>webaddress</key>
	<string>https://github.com/KennethYo/alfred-zd</string>
</dict>
</plist>
